<h2 class="jumbotron text-center">Sweater Collection</h2>


<div class="well">
  <form class="d-flex flex-column justify-content-center sweater-form" action="/sweater/" method="post">
    <h2>Add a Sweater to your Collection</h2>
    <input type="text" name="name" placeholder="Sweater Name">
    <input type="number" name="pockets" placeholder="Number of Pockets">
    <input type="text" name="materialPrimary" placeholder="Primary Material">
    <input type="text" name="materialSecondary" placeholder="Secondary Material">
    <div class="checkbox">
      <label><input type="checkbox" name="color" value="Red">Red</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" name="color" value="Blue">Blue</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="Green" name="color" >Green</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" name="color" value="Yellow">Yellow</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" name="color" value="Purple">Purple</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" name="color" value="Black">Black</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" name="color" value="White">White</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" name="color" value="Cream">Cream</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" name="color" value="Orange">Orange</label>
    </div>
    <input class="btn btn-primary" type="submit" name="" value="Add Sweater">

  </form>
</div>



<h2>Sweaters: </h2>
<div class="d-flex flex-row">


  {{#each sweaters}}
    <ul class="sweater-list">
      <li class="sweater-name">{{name}}</li>
      <li>Pockets: {{pockets}}</li>
      <li>Primary Material: {{materials.primary}}</li>
      <li>Secondary Material: {{materials.secondary}}</li>
      <li>Sweater Colors: {{colors}}</li>
      <li><a class="btn btn-danger delete-button" href="/sweater/{{_id}}/delete">Delete Sweater from Collection</a></li>
      <li><a class="btn btn-info update-button" href="/sweater/{{_id}}/update">Update Sweater</a></li>
    </ul>
  {{/each}}
</div>
