<div class="well">
  <form class="d-flex flex-column justify-content-center sweater-form" action="/sweater/update" method="post">
    <h2>Update your Sweater Information</h2>
    <input type="hidden" name="id" value="{{_id}}">
    <input type="text" name="name" value="{{name}}">
    <input type="number" name="pockets" value="{{pockets}}">
    <input type="text" name="materialPrimary" value="{{materials.primary}}">
    <input type="text" name="materialSecondary" value="{{materials.secondary}}">
    <div class="checkbox">
      <label><input type="checkbox" name="color" value="Red">Red</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" name="color" value="Blue">Blue</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="Green" name="color" >Green</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" name="color" value="Yellow">Yellow</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" name="color" value="Purple">Purple</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" name="color" value="Black">Black</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" name="color" value="White">White</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" name="color" value="Cream">Cream</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" name="color" value="Orange">Orange</label>
    </div>
    <input class="btn btn-primary" type="submit" name="" value="Update Sweater">

  </form>
</div>
